RewriteEngine On

# # Redirect users to /views/index.php
RewriteRule ^$              /views/index.php [L]
RewriteRule ^login$         /views/login.php [L]
RewriteRule ^logout$        /views/logout.php [L]
RewriteRule ^profile$       /views/profile.php [L]
RewriteRule ^signup$        /views/signup.php [L]
RewriteRule ^create-post$   /views/create-post.php [L]

# Items friendly URL: /items/{gender}/{id}
# - gender: male|female
# - id: numeric item id
RewriteRule ^items/(male|female)/(\d+)$ /views/item.php?gender=$1&id=$2 [L]















# Hvis filen findes som .php, omskriv URL uden filendelse til .php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.php -f
# [NC] = case-insensitive, [L] = last rule (stop processing)
RewriteRule ^([^\.]+)$ $1.php [NC,L]


# # Hvis det ikke er en statisk fil, send til routes.php
# RewriteCond %{REQUEST_URI} !(\.png|\.jpg|\.webp|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js|\.pdf)$
# RewriteRule ^(.*)$ routes.php [QSA,L]